*{
    margin: 0;
    padding: 0;
}

table thead tr td{
    border: solid 1px black;
    background-color: rgb(219, 223, 222);
    color:rgb(12, 37, 31);
    font: small-caps 150%/200% serif;
    
}
table tbody tr td{
    border: solid 1px black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    color:rgb(41, 49, 42);

}

table { margin: 0 auto;}






